﻿body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    background-color: #e9e9e9;
}

    body p {
        font-size: 0.8em;
        line-height: 1.28;
    }

#wrapper {
    width: 1080px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;
}

#banner {
    background-image: url('../Images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border: 3px solid #E3E3E3;
}

#content_area {
    float: left;
    width: 750px;
    margin: 20px 0 20px 0;
    padding: 10px;
}

#sidebar {
    float: right;
    width: 250px;
    height: 400px;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    border: 2px solid #E3E3E3;
}

#footer {
    clear: both;
    width: auto;
    height: 40px;
    padding: 10px;
    border: 3px solid #E3E3E3;
    text-align: center;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/bar_background.png);
}

#navigation {
    height: 60px;
    border: 3px solid #E3E3E3;
    margin-top: 20px;
    background-image: url(../Images/bar_background.png);
    text-shadow: 0.1em 0.1em #333;
}

#nav {
    list-style: none;
}

    #nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: auto;
        display: none;
    }

    #nav li {
        font-size: 24px;
        float: left;
        position: relative;
        width: 180px;
        height: 50px;
    }

        #nav li ul li {
            background-image: url(../Images/bar_background.png);
            background-repeat: no-repeat;
            background-size: cover;
            border: 3px solid #E3E3E3;
            padding-left: 10px;
        }

    #nav a:link, #nav a:active, #nav a:visited {
        display: block;
        color: #fff;
        text-decoration: none;
    }

    #nav a:hover {
        color: lightblue;
    }


.imgLeft {
    float: left;
    width: 240px;
    height: 150px;
    margin: 0px 10px 10px 0;
    padding: 10px;
}

.imgRight {
    float: right;
    width: 200px;
    height: 250px;
    margin: 0px 0 10px 10px;
    padding: 10px;
}
